*.bak


binaries/code.ver

binaries/encrypted.ver

processor/memory/mem_init/memgen.exe

quartus_project/db/

quartus_project/simulation/modelsim/

quartus_project/output_files/

quartus_project/incremental_db/

quartus_project/mide_cpu_nativelink_simulation.rpt
